---
import { TEXT } from '../../config/globalStyles';
import ParagraphCard from '../ui/text/ParagraphCard.astro';

interface Props {
    title: string;
    description: string;
    technology: string;
    img: string;
    alt: string;
}

const { title, description, technology, img, alt } = Astro.props;
---

<div class="min-w-full rounded-lg shadow-lg overflow-hidden transition-all duration-300 ease-out transform hover:scale-[1.06] hover:shadow-2xl hover:-translate-y-1 flex flex-col justify-between">
    <img 
        src={img} 
        alt={alt}
        width="768"
        height="256"
        class="w-full h-auto max-h-64 object-cover object-center aspect-auto" />

    <div class="p-6 flex-grow space-y-2 bg-slate-50/90 dark:bg-[#2a3140] shadow-lg hover:shadow-xl transition-shadow duration-300">
        <h2 class={`${TEXT.TEXT_DEFAULT} text-lg lg:text-2xl font-semibold`}>{title}</h2>
        <ParagraphCard>{description}</ParagraphCard>
        <ParagraphCard><span class="font-semibold">Tecnologías: </span>{technology}</ParagraphCard>
    </div>
</div>
