---
import Paragraph from '../ui/text/Paragraph.astro';

interface Props {
    title: string;
    description: string;
    technology: string;
    img: string;
    alt: string;
}

const { title, description, technology, img, alt } = Astro.props;
---

<div class="min-w-full rounded-lg shadow-lg overflow-hidden bg-white transition-all duration-300 ease-out transform hover:scale-[1.06] hover:shadow-2xl hover:-translate-y-1 flex flex-col justify-between">
    <img class="w-full h-auto max-h-64 object-cover object-center aspect-auto" src={img} alt={alt} />

    <div class="p-6 flex-grow space-y-2">
        <h2 class="text-lg lg:text-2xl font-semibold text-gray-800">{title}</h2>
        <Paragraph>{description}</Paragraph>
        <Paragraph><span class="font-semibold">Tecnologías: </span>{technology}</Paragraph>
    </div>
</div>
