---
import { ICONS } from "../config/globalStyles";

// Import COMPONENTS
import SectionContainer from "../components/structuresContainer/SectionContainer.astro";
import GridContainer from "../components/structuresContainer/GridContainer.astro";
import Experience from "../components/Experience.astro";
import Project from "../components/Project.astro";
import CreatedProjects from "../components/CreatedProjects.astro";
import TechnologyJob from "../components/TechnologyJob.astro";
import Badge from "../components/Badge.astro";
import H3TitleBold from "../components/ui/text/H3TitleBold.astro";
import H4TitleBold from "../components/ui/text/H4TitleBold.astro";
import Layout from "../layouts/Layout.astro";
import ContactItems from "../components/contact/AnimatedList";
import AnimatedBiography from "../components/biography/AnimatedBiography";

// Import SVG
import Briefcase from "../components/ui/svg/Briefcase.astro";
import CodeBracket from "../components/ui/svg/CodeBracket.astro";
import Technology from "../components/ui/svg/Technology.astro";
import Person from "../components/ui/svg/Person.astro";

// Import DATA
import userData from '../constants/userData.json';
import biographyData from '../constants/biographyData.json';

const lines = biographyData[0].paragraph.split(". ").map(l => l.trim()).filter(Boolean).map(l => l + ".");
---

<Layout title="Juan J. Coppede - Software Developer." description="Desarrollando aplicaciones web eficientes y escalables">
	<main>
		<SectionContainer id="jjc-about-me">
			<GridContainer>
				<Badge text="Disponible para trabajar" />
				<H3TitleBold title="Juan José Coppede" />
			</GridContainer>

			<AnimatedBiography client:load lines={lines} />
		</SectionContainer>

		<SectionContainer id="jjc-experience">
			<GridContainer>
				<H4TitleBold title="Experiencia laboral">
					<Briefcase slot="icon" class=`${ICONS.ICON_SIZE}` />
				</H4TitleBold>

				<Experience />
			</GridContainer>
		</SectionContainer>

		<SectionContainer id="jjc-technology">
			<GridContainer>
				<H4TitleBold title="Tecnologías y habilidades">
					<Technology slot="icon" class=`${ICONS.ICON_SIZE}` />
				</H4TitleBold>

				<TechnologyJob />
			</GridContainer>
		</SectionContainer>

		<SectionContainer id="jjc-projects">
			<GridContainer>
				<H4TitleBold title="Proyectos creados">
					<CodeBracket slot="icon" class=`${ICONS.ICON_SIZE}` />
				</H4TitleBold>

				<CreatedProjects />
			</GridContainer>
		</SectionContainer>

		<SectionContainer id="jjc-projects">
			<GridContainer>
				<H4TitleBold title="Proyectos en desarrollo">
					<CodeBracket slot="icon" class=`${ICONS.ICON_SIZE}` />
				</H4TitleBold>

				<Project />
			</GridContainer>
		</SectionContainer>

		<SectionContainer id="jjc-contact">
			<GridContainer>
				<H4TitleBold title="¿Como encontrarme?">
					<Person slot="icon" class=`${ICONS.ICON_SIZE}` />
				</H4TitleBold>

				<ContactItems client:visible items={userData} />
			</GridContainer>
		</SectionContainer>
	</main>
</Layout>
