---
import { TEXT } from "../../config/globalStyles";
interface Props {
    job: string;
    title: string;
    date: string;
    jobType: string;
}
const { job, title, date, jobType } = Astro.props;
---

<li>
    <span class={`${TEXT.TEXT_DEFAULT} font-semibold items-center block text-md lg:text-lg mb-2`}
        >{job}</span
    >
    <div class="grid grid-cols-1 gap-2">
        <span class="block text-sm lg:text-base font-normal">{title}</span>
        <span class={`${TEXT.TEXT_ITEM_DEFAULT} block text-sm font-normal`}>{jobType}</span>
        <time class={`${TEXT.TEXT_ITEM_DEFAULT} block text-sm font-normal mt-1`}>{date}</time>
    </div>
</li>
